# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\LEARNING\Магистратура НГТУ\Системы компьтерного зрения\Лаб 1\JavaFX\CVS_Lab_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
